body,div,h1,h2,h3,h4,h5,h6,ul,ol,fieldset,li,img,p{ margin: 0px; padding: 0px; list-style:none; border: 0px; }
body {
	background: url(imagenes/fondokmx.jpg) no-repeat top center scroll;
	font-family: Arial, Tahoma;
	font-size: 10px;
}

a{
	color:#fff;
}

#cuerpo{
	background: url(imagenes/cuerpo.png) no-repeat top center;
	margin: 20px auto 0px auto;
	height: 653px;
	position: relative;
	width: 800px;
}

	#ac{
		margin: 0 auto;
		position: absolute;
		padding-top: 30px;
		width: 760px;
	}
	
		#ac a{
			color:#000;
			display: inline-block;
			margin-left: 620px;
			font-size: 1.1em;
			text-decoration: none;
		}

#menu{
	height: 130px;
	padding-left: 40px;
	margin: 0 auto;
	widht: 800px;
}

	 #menu li{
	 	list-style: none;
		margin: 50px 10px 0px 10px;
	 	float: left;
		width: 80px;
	 }
	 
	 #menu li a{
	 	background: url(imagenes/menu.jpg) no-repeat top left scroll;
	 	display: block;
		height: 25px;
		text-indent: -999999px;
		width: 90px;
	 }
	 #menu li a.t2{ background-position: -90px top; width: 75px; }
	 #menu li a.t3{ background-position: -160px top; width: 75px; }
	 #menu li a.t4{ background-position: -235px top; width: 75px; }
	 #menu li a.t5{ background-position: right top; width: 75px; }
	 
	 #menu li.u{ margin-left: 240px; }

#kmxfooter{
	background: url(imagenes/kmx.com.mx.gif) no-repeat top center scroll;
	display: block;
	margin: 0 auto;
	text-indent: -999999px;
	height: 21px;
	margin: 0 auto;
	margin-top: 40px;
	width: 198px;
}

#kmxpaq{
	background: url(imagenes/paquetes.png) no-repeat center center;
	display: block;
	height: 86px;
	text-indent: -99999px;
	left: -50px;
	position: absolute;
	width: 207px;
}

#cont{
	color:#fff;
	margin: 0px auto;
	height: 450px;
	width: 650px;
}

h1{
	position: absolute;
	height: 110px;
	left: 261px;
	top: 10px;
	width: 220px;
}

h1 a{
	display: block;
	position: relative;
	text-indent: -9999px;
	height: 110px;
	width: 220px;
	z-index: 9999;
}

.sociales{
	position: absolute;
	right: -20px;
	top: 130px;
}

.sociales li{
	margin-top: 20px;
	height: 47px;
	width: 57px;
}

.sociales li a{
	background: url(imagenes/sociales.gif) no-repeat;
	text-indent: -9999px;
	position: relative;
	display: block;
	height: 50px;
}
.sociales li a.gal{
	background-position: center bottom;
}

h2{
	font-size: 3.2em;
	margin-bottom: 20px;
}

/*estilo del index */
.index div{
	background: url(imagenes/reproductor.gif) no-repeat top center;
	height: 213px;
	position: absolute;
	padding: 65px;
	right: 70px;
	width: 299px;
	z-index: 1;
}

.index img{
	display: block;
	position: absolute;
	height: 325px;
	width: 201px;
}


.index h2{
	position: absolute;
	text-indent: -9999px;
	bottom: 150px;
	right: 120px;
	height: 61px;
	width: 196px;
	z-index: 0;
}

.index h2 a{
	background: url(imagenes/bienvenidos.gif) no-repeat;
	display: block;
	position: none;
	text-indent: -9999px;
	height: 61px;
	z-index: 999;
}
/* Estilo del principal y ubicacion */

.principal p, .ubicacion p{
	font-size: 1.2em;
	width: 400px;
}
.principal div, .ubicacion div{
	background-color:#fff;
	margin-top: 20px;
	height: 210px;
	width: 400px;
}

.ubicacion div{
	height: 258px;
}

.principal img, .ubicacion img{
	display: block;
	position: absolute;
	right: 80px;
	top: 140px;
	height: 417px;
	width: 222px;
}

/** para las descargas. */
.descargas ul {
	padding-top: 50px;
	overflow: hidden;
	width: 650px;
}

.descargas ul li{
	float: left;
	margin: 0 65px;
	overflow: hidden;
	text-align: center;
	width: 190px;
}

.descargas ul li h3{
	font-size: 2em;
}

/*Contacto */
.contacto h2{
	text-align: right;
}

.contacto img{
	display: block;
	position: absolute;
	float: left;
	height: 430;
	top: 130px;
	width: 264px;
}

.contacto fieldset{
	clear: right;
	float: right;
	margin-top: 30px;
	padding: 10px 0px;
	font-size: 1.2em;
	width: 380px;
}
.contacto fieldset legend{
	font-size: 1.3em;
}

	.contacto fieldset ol li label{
		display: block;
		float: left;
		font-weight: bold;
		text-align: right;
		padding-right: 5px;
		width:95px;
	}
	
	.contacto fieldset ol li{
		margin: 5px 0px;
	}
	
	.contacto fieldset ol li input, .contacto fieldset ol li textarea{
		display: inline-block;
		width: 260px;
		border: 0px;
	}
	.contacto fieldset ol li textarea{
		height: 100px;
		border: 0px;
	}

	.contacto fieldset ol li.botones input{
		background: none;
		color:#fff;
		display: inline-block;
		border: 0px;
		margin-left: 120px;
		font-weight: bold;
		width: 	60px;	
	}

.contacto p{
	float: right;
	font-size: 1.2em;
	width: 420px;
}

.contacto .tnxcont{
	color:#FFFF00;
	font-weight: bold;
	font-size: 1.2em;
}

/* galeria */
.galeria ul{
	height: 350px;
	overflow: auto;
	width: 650px;
}

.galeria ul li{
	float: left;
	margin: 7px 8px;
	overflow: hidden;
	height: 140px;
	width: 140px;
}

.galeria ul li a img{
	border: 1px solid #fff;
	display: block;
	margin: 0 auto;
	padding: 4px;
}

.galeria ul li a:hover img{
	border: 1px solid #ccc;
}

/* terminos de uso */
.terminos h2{
	text-align: center;
}

.terminos div{
	font-size: 1.2em;
}

/* paquetes */
.paquetes .info{
	background: url(imagenes/paquetes.gif) no-repeat;
	color:#5b5b5b;
	height: 328px;
	float: left;
	margin: 0px;
	padding: 30px 40px 30px 20px;
	width: 265px; 
}
.paquetes .info div h3{
	margin: 10px 0px;
}

.paquetes .info div ul, .servicios .info div ul{
	list-style: circle;
	margin-left: 5px;
	margin-bottom: 10px;
}

.paquetes .info div p{
	margin: 3px 0px 3px 0px;
}

.paquetes .info div ul li,  .servicios .info div ul li{
	list-style: circle;
	margin-left: 10px;
}

.paquetes .info div ul li.total{
	border-top: 1px solid #000;
	margin-top: 5px;
	padding-top: 5px;
}

.paquetes .info div{
	padding-top: 10px;
	height: 290px;
}

.paquetes h2{
	overflow: hidden;
	float: left;
	text-align: center;
	width: 320px;
}

/* actividades...*/
.actividades img{
	display: block;
	position: absolute;
	height: 409;
	top: 130px;
	right: 80px;
	width: 224px;
}

.actividades ul{
	margin-left: 50px;
}

.actividades ul li{
	margin: 10px 5px;
}

.actividades ul li a{
	color:#fff;
	font-size: 1.9em;
	text-decoration: none;
}

/** loa actividad sola */
.actividad img{
	position: absolute;
}

.actividad img.camping{
	bottom: 80px;
	right: 60px;
	height: 366px;
	width: 300px;
}
.actividad h2, .servicios h2{
	text-align: right;
	position: absolute;
	right: 70px;
	z-index: 9999;
}
.actividad .info, .servicios .info{
	background: url(imagenes/infoactividad.png) no-repeat;
	position: absolute;
	margin-left: 25px;
	color:#5b5b5b;
	bottom: 80px;
	height: 328px;
	padding: 30px 50px 30px 20px;
	width:270px; 
}

.servicios .info{
	background: url(imagenes/fondoservicios.gif) no-repeat;
	bottom: 80px;
	left: 30px;
	padding: 70px 50px 60px 48px;
}

.actividad .info p.ra{
	position: absolute;
	top: -76px;
	left: -48px;
}

.actividad .info p.ra, .actividad .info p.ra a{
	background: url(imagenes/actividades_letrero.gif) no-repeat;
	height: 76px;
	width: 127px;
}
.actividad .info p.ra a{
	display: block;
	text-indent: -9999px;
}

.actividad .info h3{
	font-style: italic;
}
.actividad .info div, .servicios .info div{
	padding-top: 10px;
	height: 290px;
}
.actividad .info div {
	font-size: 1.1em;
}


/** actividad gotcha ***/
.actividad img.gotcha{
	bottom: 70px;
	right: 100px;
	height: 400px;
	width: 217px;
}

/** actividad senderismo ***/
.actividad img.senderismo{
	bottom: 80px;
	right: 100px;
	height: 406px;
	width: 217px;
}

/** actividad temazcal***/
.actividad img.temazcal{
	bottom: 100px;
	right: 80px;
	height: 227px;
	width: 284px;
}

/** actividad canopy ***/
.actividad img.canopy{
	bottom: 68px;
	right: 50px;
	height: 413px;
	width: 360px;
}

/** actividad escalada ***/
.actividad img.escalada{
	bottom: 53px;
	right: 47px;
	height: 504px;
	width: 280px;
	z-index: 1;
}

/** actividad rappel ***/
.actividad img.rappel{
	bottom: 53px;
	right: 49px;
	height: 504px;
	width: 239px;
	z-index: 1;
}

/** servicios ***/
.servicios img{
	display: block;
	position: absolute;
	bottom: 80px;
	right: 100px;
	height: 192px;
	width: 237px;
	z-index: 1;
}

.servicios .desc{
	color: #ff0;
	font-style: italic;
	font-weight: bold;
	right: 50px;
	top: 200px;
	font-size: 1.4em;
	position: absolute;
	width: 300px;
}
