#cuerpo {
	background-image: url(imagenes/cuerpo.jpg);
}

#menu li.u{ margin-left: 220px; }
#ac a{ margin-top: -15px; }
#kmxpaq{
	background: none;
	cursor: hand;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='estilo/imagenes/paquetes.png',sizingMethod='scale');
}

.galeria ul li{
	margin: 7px 8px;
	width: 140px;
	height: 140px;
}

.index h2{
	bottom: 120px;
}
.descargas ul li{
	margin: 0 50px;
}
